hr{
	margin: 10px 0 30px 0;
}

p#topic_data{
	text-align: right;
	position: relative;
	top: -4em;
}

p#topic_body{
	margin: 30px;
	margin-bottom: -60px;
	position: relative;
	top: -60px;
	font-size: 150%;
}

p#like_topic{
	text-align: right;
	margin: 15px 30px;
	padding: 10px;
	background: #EDF9FF;
}

div.comment{
	margin: 10px 30px;
	padding: 20px;
	background: #f1f1f1;
}

div.comment *{
	margin: 0;
}

p.comment_data{
	text-align: right;
}

p.like_comment{
	text-align: right;
	margin: 10px 0 0 0;
	padding: 10px;
	background: #EDF9FF;
}

#CommentCreateForm{
	width: 80%;
	margin: 10px 30px;
}
